### 튜플(tuple) : 불변형(immutable), 시퀀스형, ( ):소괄호 사용

In [15]:
a = (1,2,3,4,5,6)
print(a)
print(type(a))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [16]:
# indexing
print(a[0],a[1],a[2],a[-1],a[-2])

# a[0] = 10  # TypeError

1 2 3 6 5

In [17]:
b = list(a)
b[1] = 200
b = tuple(b)
b

(1, 200, 3, 4, 5, 6)

In [22]:
# slicing
print(a[:])
print(a[::2])
print(a[::-1])  # 순서를 거꾸로 변경

# a[0:3] = (10,20,30)  # TypeError

(1, 2, 3, 4, 5, 6)
(1, 3, 5)
(6, 5, 4, 3, 2, 1)

In [34]:
# 패킹(packing),언패킹 튜플
t = 1,2,'hello'   # 괄호 생략이 가능, 쉼표로 데이터가 구분되어 있으면 튜플, 패킹
print(type(t))
x,y,z = t    # 언패킹
print(x,y,z)
print(type(x))

<class 'tuple'>
1 2 hello
<class 'int'>

In [30]:
a,b,c = a,20,'hi'     # 언패킹
print(a,b,c)

10 20 hi

In [52]:
t = (1,2,3,4,5,6,7)
# a,b = t   # ValueError
a,b,_,c,_,_,d = t  # 언패킹될 요소의 갯수를 일치시켜야한다, '_':사용하지 않을 요소
print(a,b,c,d)

# 확장된 언팩킹
a,*b = t
print(a)   # 첫번째 요소
print(b)   # 나머지 요소를 모두 리스트로 할당

*a,b = t
print(a)   # 나머지 요소를 모두 리스트로 할당
print(b)   # 마지막 요소

a,b,*c = t
print(a,b,c)

a,*b,c = t
print(a,b,c)

# a,*b,*c = t  # SyntaxError

1 2 4 7
1
[2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6]
7
1 2 [3, 4, 5, 6, 7]
1 [2, 3, 4, 5, 6] 7

In [57]:
t = ()  # 빈튜플
l = []  # 빈리스트

t = (10)   # int형
print(type(t))

t = (10,)  # tuple
print(type(t))

t = 10
print(type(t))

t = 10,
print(type(t))
print(t[0])

l = [10]      # list
print(type(l))

<class 'int'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>
10

list

In [60]:
# 리스트와 문자열도 언패킹과 확장 언패킹
a,b = [1,2]
print(a,b)

a,b ='hi'
print(a,b)

a,*b = 'hello'
print(a)
print(b)  # 나머지 요소를 모두 리스트로 할당

1 2
h i
h
['e', 'l', 'l', 'o']

In [62]:
# 두 개의 값을 서로 변경하는 코드
# x : 1 , y : 2

# (1) 전통 언어 방식
x = 1
y = 2
temp = x
x = y
y = temp
print(x,y)

# (2) 파이썬 방식 (튜플의 언패킹사용)
x,y = 1,2
x,y = y,x
print(x,y)

2 1
2 1

In [67]:
# 연산자
t1 = (1,2,3)
t2 = ('apple','banana')
t3 = t1 + t2
print(t3)

t3 = t1.__add__(t2)
print(t3)

t4 = t3*3
print(t4)

print(sum(t1))
print(len(t1))

(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana')
(1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana', 1, 2, 3, 'apple', 'banana')
6
3

In [68]:
t = (1,2,3,4,2,2,3)
t.count(2)  # 요소의 갯수

3

In [70]:
print(t.index(2))   #요소 2 가  처음 나오는 위치(인덱스)를 반환
print(t.index(2,3)) #요소 2 를 인덱스 3 이후부터 나오는 위치(인덱스)를 반환

1
4

In [75]:
# del t[0]   # TypeError

10